body{
  background-color:#e6e6e6 ;
}
h1 {
  font-family:Verdana;
  font-size: 150%;
  font-weight: bolder;
  text-align: center;
  background-color: #ffffff;
  margin:10px 25px 10px 25px;
  color: #25a561;
  }
  h2 {
  font-family:Verdana;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.1px;
  color: #000000;
  }
  h3 {
  font-family:Arial;
  font-size: 110%;
  font-weight: bold;
  font-style:italic;
  text-align: center;
  margin:0 25px 0 25px;
  color: #25a561;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #32686a;
  }
  p{
  font-family:Verdana;
  font-size: 0.8em;
  text-indent: 3%;
  text-align: justify;
  margin:5px 25px 5px 25px;
  }
  ul { 
  font-family:Arial;
  font-size: 110%;
  font-style:italic;
  color: #25a561;
  }
